.kind {
    width: 55px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px;
    border: 2px solid #3E2723;
    border-radius: 50%;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.kind.disabled {
    opacity: .4;
    pointer-events: none;
}
