<template>
  <div>
    <v-speed-dial v-model="speedDial">
      <template #activator>
        <v-button background="#3E2723" circle>
          <template #icon>
            <add-icon color="white" />
          </template>
        </v-button>
      </template>

      <div
          v-for="(kind, index) in kinds"
          :key="index"
          :style="{ backgroundImage: `url('${kind.avatar}')` }"
          :class="{ kind: true, disabled: isSelected(kind.name) }"
          @click="create(kind.id)"
      />
    </v-speed-dial>
  </div>
</template>

<script>
import VSpeedDial from '../../../../components/lib/VSpeedDial/VSpeedDial';
import VButton from '../../../../components/lib/VButton/VButton';

import AddIcon from '../../../../components/icons/AddIcon';

export default {
  name: 'CreateAnimal',
  components: {
    VSpeedDial,
    VButton,
    AddIcon,
  },
  props: {
    kinds: {
      type: Array,
      required: true,
    },
    selectedAnimals: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      speedDial: false,
    };
  },
  methods: {
    isSelected(name) {
      return !!this.selectedAnimals.filter(animal => animal.kind.name === name).length;
    },
    create(id) {
      this.$emit('create', id);
    }
  },
};
</script>

<style scoped>
@import "CreateAnimal.css";
</style>
