.v-button {
    padding: 10px 12px;
    outline: none;
    border: none;
    cursor: pointer;
}

.v-button:hover {
    opacity: .9;
}

.v-button--circle {
    padding: 19px 20px;
    border-radius: 50%;
}
