<template>
  <button :class="classes" :style="styles">
    <slot name="icon"></slot>
  </button>
</template>

<script>
export default {
  name: 'AddAnimal',
  props: {
    background: {
      type: String,
      default: null,
    },
    circle: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    classes() {
      return {
        'v-button': true,
        'v-button--circle': this.circle,
      };
    },
    styles() {
      return {
        backgroundColor: this.background,
      };
    },
  },
};
</script>

<style scoped>
@import "VButton.css";
</style>
