.v-alert {
    max-height: 200px;
    position: absolute;
    top: -200px;
    right: 0;
    border-radius: 0.25rem;
    transition: .5s;
    padding: 12px 28px;
}

.v-alert--show {
    top: 0;
}

.v-alert--error {
    color: #721c24;
    background-color: #f8d7da;
}

.v-alert--success {
    color: #155724;
    background-color: #d4edda;
}
