<template>
  <div :class="classes">
    {{ text }}
  </div>
</template>

<script>
const TYPE_SUCCESS = 'success';
const TYPE_ERROR = 'error';

export default {
  name: 'VAlert',
  props: {
    modelValue: {
      type: Boolean,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
  },
  computed: {
    classes() {
      return {
        'v-alert': true,
        'v-alert--show': this.modelValue,
        'v-alert--success': this.isSuccessType,
        'v-alert--error': this.isErrorType,
      };
    },
    isSuccessType() {
      return this.type === TYPE_SUCCESS;
    },
    isErrorType() {
      return this.type === TYPE_ERROR;
    },
  },
  watch: {
    modelValue(newValue) {
      if (newValue) {
        setTimeout(() => this.$emit('update:modelValue', false), 2000);
      }
    },
  },
};
</script>

<style scoped>
@import "VAlert.css";
</style>
