<template>
  <div :class="classes">
    <div class="activator" @click="$emit('update:modelValue', !modelValue)">
      <slot name="activator"></slot>
    </div>
    <div class="items">
      <slot name="default"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VSpeedDial',
  props: {
    modelValue: {
      type: Boolean,
      required: true,
    },
  },
  computed: {
    classes() {
      return {
        'v-speed-dial': true,
        'v-speed-dial--show': this.modelValue,
      };
    },
  },
};
</script>

<style scoped>
@import "VSpeedDial.css";
</style>
