<template>
  <div class="container">
    <v-alert
        v-model="alert.show"
        :type="alert.type"
        :text="alert.text"
    />

    <create-animal
        :kinds="animalKinds"
        :selected-animals="animals"
        @create="createAnimal"
    />
    <growing-area
        :animals="animals"
        :update-tries="updateAnimalTries"
        @update-age="updateAnimalAge"
    />
  </div>
</template>

<script>
import VAlert from '../../components/lib/VAlert/VAlert';

import CreateAnimal from './components/CreateAnimal/CreateAnimal';
import GrowingArea from './components/GrowingArea/GrowingArea';

import AnimalsApi from '../../api/AnimalApi';
import AnimalKindsApi from '../../api/AnimalKindsApi';

const animalsApi = new AnimalsApi();
const animalKindsApi = new AnimalKindsApi();

export default {
  name: 'Home',
  components: {
    VAlert,
    CreateAnimal,
    GrowingArea,
  },
  data() {
    return {
      animalKinds: [],
      animals: [],
      alert: {
        type: '',
        text: '',
        show: false,
      },
      updateAnimalTries: 0,
    };
  },
  async created() {
    try {
      await this.fetchAnimalKinds();
      await this.fetchAnimals();
    } catch (e) {
      this.showAlert('error', 'Упс! Что-то пошло не так');
    }
  },
  methods: {
    showAlert(type, text) {
      this.alert = {
        type,
        text,
        show: true,
      };
    },
    async createAnimal(kindId) {
      try {
        await animalsApi.create(kindId);
        await this.fetchAnimals();
        await this.showAlert('success', 'Поздравляю с пополнением в семье!');
      } catch (e) {
        this.showAlert('error', 'Упс! Что-то пошло не так');
      }
    },
    async updateAnimalAge(id) {
      try {
        const animal = (await animalsApi.updateAge(id)).data;

        this.animals = this.animals.map(el => el.id === animal.id ? animal : el);
      } catch (e) {
        this.updateAnimalTries += 1;
        this.showAlert('error', 'Упс! Что-то пошло не так');
      }
    },
    async fetchAnimals() {
      try {
        this.animals = (await animalsApi.index()).data;
      } catch (e) {
        this.animals = [];
        this.showAlert('error', 'Упс! Что-то пошло не так');
      }
    },
    async fetchAnimalKinds() {
      try {
        this.animalKinds = (await animalKindsApi.index()).data;
      } catch (e) {
        this.animalKinds = [];
        this.showAlert('error', 'Упс! Что-то пошло не так');
      }
    },
  },
};
</script>

<style scoped>
@import "Home.css";
</style>
