<template>
  <div class="growing-area">
    <img
        v-for="(animal, index) in animals"
        :key="index"
        :style="styles(animal)"
        :src="animal.kind.avatar"
        alt="Animal avatar"
    />
  </div>
</template>

<script>
const ANIMAL_STATUS_CREATED = 0;

export default {
  name: 'GrowingArea',
  props: {
    animals: {
      type: Array,
      required: true,
    },
    updateTries: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      intervalId: 0,
      animalCount: 0,
    };
  },
  beforeDestroy() {
    clearInterval(this.intervalId);
  },
  watch: {
    updateTries(newValue) {
      if (newValue > this.animals.length * 3) {
        clearInterval(this.intervalId);
      }
    },
    animals(newValue) {
      if (this.animalCount !== newValue.length) {
        if (this.animalsForUpdate.length) {
          clearInterval(this.intervalId);
          this.intervalId = setInterval(this.updateAge, 6000);
        } else {
          clearInterval(this.intervalId);
        }
      }

      this.animalCount = this.animals.length;
    }
  },
  computed: {
    animalsForUpdate() {
      return this.animals.filter(animal => animal.status === ANIMAL_STATUS_CREATED);
    },
  },
  methods: {
    styles(animal) {
      return {
        width: `${animal.size}px`,
        height: `${animal.size}px`,
      };
    },
    updateAge() {
      this.animalsForUpdate.forEach(animal => {
        this.$emit('update-age', animal.id);
      });
    }
  },
};
</script>

<style scoped>
@import "GrowingArea.css";
</style>
